@page "/tenses"

<h1>French Verb Tenses</h1>

<p>This is a summary of the main French verb tenses. Click on any tense to learn more.</p>

<ul>
    <li><NavLink href="/tenses/passe-compose">Passé Composé</NavLink></li>
    <li><NavLink href="/tenses/imparfait">Imparfait</NavLink></li>
    <li><NavLink href="/tenses/future-simple">Futur Simple</NavLink></li>
    <li><NavLink href="/tenses/plus-que-parfait">Plus-que-parfait</NavLink></li>
    <!-- Add more tenses as needed -->
</ul>